body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    font-size: 3em;
    color: #16425b;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

article {
    height: 10em;
    width: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a7ca5;
    margin: 1em;
    border-radius: 15px;
    transition: transform 1s;
}

article:hover {
    transform: scale(1.2);
}

article a {
    color: #eeeeee;
    font-size: 2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.bn54 {
    margin-top: 3em;
    padding: 12px 20px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@media screen and (max-width: 850px) {
    section {
        flex-direction: column;
    }

}